/* Infield Hints */
div.input{
	position:relative;
	float:left;
}

div.input input{
	position:relative;
	width:260px;
	height:15px;
	color:#999;
	padding: 4px 5px 3px;
	outline: none;
	border:1px solid #bbb;
	border-radius: 3px;
	margin:0;
}

div.input span{
	position: absolute;
	top:4px;
	left:4px;
	font-size: 10px;
	line-height: 12px;
	background: #ccc;
	padding: 1px 3px;
	border-radius: 2px;
	border: 1px solid #232323;
	display: block;
	text-shadow: 0 1px 0 #fff;
}

/* some sample classes to color the hint boxes */
div.input span.fb {
	border-color: #6d8bc9;
	color: #6d8bc9;
	background-color: rgba(109, 139, 200, 0.2);
}

div.input span.dr {
	border-color: #cc00a8;
	color: #cc00a8;
	background-color: rgba(204, 0, 168, 0.2);
}